_targets/
pdfs/
output/
ignore/
data_TRUE/
old/
High-resolution/
Low-resolution/
Medium-resolution/
Temporally_sparse/
figures_TRUE/

*.pdf
*.zip
Rplot.pdf
.DS_Store
*.Rapp.history
*.Rhistory
*.RData
*tmp*
TODO.*md
.Rproj.user
.Rproj
*.png
