_targets/
pdfs/
output/
ignore/
data_TRUE/
figures_TRUE/
old/
Long-term/
Medium-term/
Short-term/
Temporally-sparse/
Appendix_C_files/
Appendix_B_files/
Appendix_A_files/

*.pdf
*.zip
Rplot.pdf
.DS_Store
*.Rapp.history
*.Rhistory
*tmp*
TODO.*md
.Rproj.user
.Rproj
*.png
*model_perf_all