_targets/
pdfs/
output/
ignore/
data/
old/
extra_scenarios/
High-resolution/
Low-resolution/
Medium-resolution/
Temporally_sparse/

*.pdf
*.zip
*.html
Rplot.pdf
.DS_Store
*.Rapp.history
*.Rhistory
*.RData
*tmp*
TODO.*md
.Rproj.user
.Rproj
*.png
